[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma db push --skip-generate; next start -H 0.0.0.0"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
