[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma db push --skip-generate && pnpm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
